body {
    font-family: sans-serif;
    line-height: 1.5;
  
    background-color: #f9f9f9;
    color: #333333;
  
    width: 980px;
    margin: 0 auto;
    background-image: url('img/fon.jpeg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    background-attachment: fixed;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 0;
    justify-content:flex-start;
  }
  
  main > h2 {
    font-size: 25px;
    justify-content:flex-start;
  }

 